<%= form_with model: @user do |form| %>
        <p> <%= form.label :phone, 'Your new phone:'%> </p>
        <p> <%= form.telephone_field :phone %> </p>
        <p> <%= form.submit 'Ok' %></p>
<% end %>