
  </div>
  </section>
  
  <footer class="wrapper">
    <div class="footer-two-columns">
    <div class="links">
    <p><%= link_to"About us", root_path %></p>
    <p><%= link_to"Contacts", welcome_contacts_path %></p>
    <p><%= link_to"FAQ", welcome_faq_path %></p>
    </div>
    <div class="info">
    <p>Certificate of state registration of an individual entrepreneur Nikitsina Lizaveta Evgenievna №690871770 issued on 01.02.2023 by the Minsk City Executive Committee, Minsk, Belarus</p>
    <p>+375(25)690-68-00</p>
    <p>beautyacademy.en@gmail.com</p>
    <p>UTN: 690871770</p>
    </div>
    
    </div>
    <div class="images">
    <%= image_tag('HORIZONTAL WHITE.png', class: "show-image") %>
    </div>
  </footer>
