<%= render "shared/header"%>
<div class = "content-part">
    <div class = "content-text">    
    <h1 class = "page_name">CONTACTS</h1>
    <div class="paragraph">
    <p class="center-button topic-name">For all your questions</p>
    <p>Phone:</p>
    <p>+375(25)690-68-00 (WhatsApp) </p>
    <p>Email:</p>
    <p>beautyacademy.en@gmail.com</p>
    <p>Our Insta:  <a href="https://instagram.com/goldenhair.by" class="button-1">@goldenhair.by</a></p>
    </div>

    
    
    </div>    
    </div> 
<%= render "shared/footer"%>