<%= render "shared/header"%>
<div class = "content-part">
    <div class = "content-text">    
    <h1 class = "page_name">CONTACTS</h1>
    <div>
    <p> Tut contacty </p>
    </div>

    
    
    </div>    
    </div> 
<%= render "shared/footer"%>