<%= render "shared/header"%>
<div class = "content-part">
    <div class = "content-text">    
    <h1 class = "page_name">FAQ</h1>

    <div>

    <div class = "faq">
    <p class = "faq">
    <span class = "question">Q: </span>How soon can I start working?
    </p>
    <p class = "faq">
    <span class = "answer">A: </span>After successfully passing the exam on the "Standard" and "Premium" tariffs, you will get a diploma. Which means that you are a qualified specialist and ready to hair extension.
We recommend buy hair and box with tools for extensions at the beginning of the course, so that you can start working immediately after the course.
    </p>
    </div>   


    <div class = "faq">
    <p class = "faq">
    <span class = "question">Q: </span>Does everyone get a diploma? What is the difference between a listener s certificate and  diploma?
    </p>
    <p class = "faq">
    <span class = "answer">A: </span>The diploma is getting only after successfully passing the exam on the "Standard" and "Premium" tariffs.
The certificate of the listener is getting to all students regardless of the tariff after the end of the course.
    </p>
    </div>   

    <div class = "faq">
    <p class = "faq">
    <span class = "question">Q: </span>Where i can buy tools and hair?
    </p>
    <p class = "faq">
    <span class = "answer">A: </span>For your convenience, we made special box with everything you need for work.
To buy boxing, keratin and hair at special prices, contact the curators or by phone +
    </p>
    </div>  
      

    </div>    
    </div> 
<%= render "shared/footer"%>


