<%= render "shared/header"%>
<div class = "content-part">
    <div class = "content-text">    
    <h1 class = "page_name">FAQ</h1>

    <div>

    <div class = "faq">
    <p class = "faq">
    <span class = "question">Q: </span>How can I get the course?
    </p>
    <p class = "faq">
    <span class = "answer">A: </span>
Only registered users can buy the course. After signing in your personal account, you specify a phone number. Using your number, our managers will add you to closed chats, where the curators will be in touch 24/7. In the "my courses" tab after buying a course you will have access to the video course, and our managers would add you in WhatsApp chat according to your tariff.

    </p>
    </div>  

    <div class = "faq">
    <p class = "faq">
    <span class = "question">Q: </span>How soon can I start working?
    </p>
    <p class = "faq">
    <span class = "answer">A: </span>After successfully passing the exam on the "Standard" and "Premium" tariffs, you will get a diploma. Which means that you are a qualified specialist and ready to hair extension.
We recommend buy hair and box with tools for extensions at the beginning of the course, so that you can start working immediately after the course.
    </p>
    </div>   


    <div class = "faq">
    <p class = "faq">
    <span class = "question">Q: </span>Does everyone get a diploma? What is the difference between a listener s certificate and  diploma?
    </p>
    <p class = "faq">
    <span class = "answer">A: </span>The diploma is getting only after successfully passing the exam on the "Standard" and "Premium" tariffs.
The certificate of the listener is getting to all students regardless of the tariff after the end of the course.
    </p>
    </div>   

    <div class = "faq">
    <p class = "faq">
    <span class = "question">Q: </span>Where i can buy tools and hair?
    </p>
    <p class = "faq">
    <span class = "answer">A: </span>For your convenience, we made special box with everything you need for work.
To buy boxing, keratin and hair at special prices, contact the curators or by phone +375(25)690-68-00
    </p>
    </div>  

    <div class = "faq">
    <p class = "faq">
    <span class = "question">Q: </span>How is the payment made?
    </p>
    <p class = "faq">
    <span class = "answer">A: </span>Payment by bank cards is carried out through Alfa-Bank CJSC.
<p>Cards of international payment systems VISA, MasterCard,
BELCARD payment system are accepted for payment. Payment can also be made via Apple Pay, Samsung Pay services.</p>
<p>The security of making a payment is ensured by modern methods of verification, encryption
and data transmission over closed communication channels.</p>
<p>The card data is entered on the secure authorization page of the bank.</p>
<p>When paying with Apple Pay, select a card from the Wallet application, use a password
or other authentication method, depending on which method is selected in the application.</p>
<p>When placing an order using Samsung Pay, click "Pay Samsung Pay", enter your
Samsung Account and confirm the purchase on your smartphone (by fingerprint, iris or
Samsung Pay PIN).</p>
<p>The personal information you provide (for example, name, address, phone number, e-mail,
bank card number, etc.) is confidential and not subject to disclosure.</p>
<p>The card data is transmitted only in encrypted form and is not stored on this Internet resource.</p>
    </p>
    </div>  


    <div class = "faq">
    <p class = "faq">
    <span class = "question">Q: </span>How can I return my money?
    </p>
    <p class = "faq">
    <span class = "answer">A: </span>When paying with a bank payment card, a cash refund is not allowed. Settlements with the consumer upon return of the amount of money paid for the goods, upon termination of the contract for the performance of work (provision of services) are carried out in the same form in which payment for the goods, work (services) was made, unless otherwise provided by the agreement of the parties. The refund procedure is regulated by the rules of payment systems. The procedure for returning goods is regulated by the Law of the Republic of Belarus of January 9, 2002 N 90-3 "On Consumer Rights Protection".

<p>The consumer has the right to refuse the goods within 14 (fourteen) days from the date of transfer of the goods to him;</p>
<p>The consumer has the right to unilaterally refuse to execute the contract on performance of work (provision of services) on condition of payment to the contractor of the expenses actually incurred by him, unless otherwise provided by law.</p>
<p>The consumer's demand for the exchange or return of a quality product is subject to satisfaction if the product was not in use, its consumer properties are preserved and there is evidence of its purchase from this seller.</p>
<p>The list of non-food products of proper quality that are not subject to exchange and return is approved by the Government of the Republic of Belarus.</p>

<p>To return funds to a bank payment card, you must fill out an "Application for a refund of funds" and send it to the email address возврат@домен.by . The refund will be made to the bank payment card within 7 (seven) calendar days from the date of receipt of the "Application for refund" by the Company. The refund amount will be equal to the purchase amount</p>

<p>In order to refund funds for transactions carried out with errors, it is necessary to apply with a written application and an attachment of checks / receipts confirming the erroneous write-off. This application must be sent by e-mail support@beauty-academy.by.</p>
    </p>
    </div>  
      

    </div>    
    </div> 
<%= render "shared/footer"%>


