body {
    font-family: 'Gilroy-Medium';  
    background-color: aliceblue;
}




a {
    text-decoration: none;
    color: #FF4F85; 
    font-weight: bold;
}


.user_menu {
    background-color: #070580;
    position: fixed;
    top: 0;
    right: 0;  
    width: 100%;
    display: flex; 
    
    height: 40pt;
    justify-content: flex-start;
}

.user_menu_element {
     
    height: 30pt;
    padding: 10pt;
}

.user_menu_element div {
    height: 30pt;
    width: 20%
   
}

.user_menu a {
    padding-top: 10pt;
    text-decoration: none;
    color: #FF4F85;
    font-weight: bold;
}


header {
    
    background-color: #070580;
    
}




.main-menu {
    background-color: #070580;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    text-decoration: none;
    
}




.main-menu-element {
    display: block;
    width: 25%;
   
    color: #FF4F85;   
    font-weight: bold; 
    text-align: center;
    padding-top: 15px;
   
}


.content_section  {
    background-color: #ffffff;
    width:100%;
    display: block;
    padding: 20, 20, 20, 20;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40pt;
    padding-bottom: 40pt;
}

.page_name {
    font-size: 30pt;
    margin:auto;
    font-family: 'Forum';
    text-align: center;
    margin-bottom: 30px;
    color:#FF4F85;
}


.content-part {
    width: 60%;
    border: solid;
    border-color: #FF4F85;
    border-radius: 20pt;
    font-family: 'Montserrat';
    padding:40px;
    
    margin-left: auto;
    margin-right: auto;
    

}

.content-img {
    width: 200px;
    float: left;
    margin: 10px;
}

footer {
    background-color: #070580;
    
}



.footer-two-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20pt;
    width:60%;
    
}

.links {
    width: 30%;

}

.info {
    width: 60%;
    color:#ffffff;
    font-size: 15px;
    font-family: 'Montserrat';
}

@media only screen and (max-width: 390px) {
    .wrapper {
     width:390px;
     margin-left: auto;
     margin-right: auto;
     font-size: 10pt; 
     
    }
    .header-icons {
        height: 10pt;
    }
    header {
        margin-top: 35pt;
    }
    .main-menu {
        height: 40pt;
    }
    .main-menu-element {
        height: 40pt;
    }
    .content-part {
        width: 70%;
        padding: 15pt;
    }
    
    .user_menu {
        height: 35pt;
    }
    
}
    
 

   @media only screen and (max-width: 430px) and (min-width: 399px){
    .wrapper {
     width:428px;
     margin-left: auto;
     margin-right: auto;
     font-size: 10pt; 
     
    }
    .header-icons {
        height: 10pt;
    }
    header {
        margin-top: 35pt;
    }
    .main-menu {
        height: 40pt;
    }
    .main-menu-element {
        height: 40pt;
    }
    .content-part {
        width: 70%;
        padding: 15pt;
    }
    .user_menu {
        height: 35pt;
    }
   }


   @media only screen and (max-width: 768px) and (min-width: 431px) {
    .wrapper {
     width:766px;
     margin-left: auto;
     margin-right: auto;
     font-size: 10pt; 
    }
    .header-icons {
        height: 10pt;
    }
    header {
        margin-top: 40pt;
    }
    .main-menu {
        height: 40pt;
    }
    .main-menu-element {
        height: 40pt;
    }
   }


   @media only screen and (max-width: 1199px) and (min-width: 769px) {
    .wrapper {
     width:991px;
     margin-left: auto;
     margin-right: auto;
     font-size: 20pt;
    }
    .header-icons {
        height: 20pt;
    }
    header {
        margin-top: 40pt;
    }
    .main-menu {
        height: 50pt;
    }
    .main-menu-element {
        height: 50pt;
    }
   }


   @media only screen and (min-width: 1200px) {
    .wrapper {
     width:1280px;  
     margin-left: auto;
     margin-right: auto;   
     font-size: 20pt;
    }
    .header-icons {
        height: 20pt;
    }
    header {
        margin-top: 40pt;
    }
    .main-menu {
        height: 50pt;
    }
    .main-menu-element {
        height: 50pt;
    }
   
   }






